<center>
%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %a.navbar-brand{:href => "#"} ToDoList
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item.active
        %a.nav-link{:href => "#"}
          Home
          %span.sr-only (current)
      %li.nav-item
        %a.nav-link{:href => "#"} Link
      %li.nav-item.dropdown
        %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          Dropdown
        .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
          %a.dropdown-item{:href => "#"} Action
          %a.dropdown-item{:href => "#"} Another action
          .dropdown-divider
          %a.dropdown-item{:href => "#"} Something else here
      %li.nav-item
        %a.nav-link.disabled{:href => "#"} Disabled
    %form.form-inline.my-2.my-lg-0
      %input.form-control.mr-sm-2{"aria-label" => "Search", :placeholder => "Search", :type => "search"}/
      %button.btn.btn-outline-success.my-2.my-sm-0{:type => "submit"} Search


%h2
  SIMPLE TODO LISTS
  %br
%h4
  %small.text-muted FROM RUBY GARAGE



%p
%table
  
  - @todolists.each do |todolist|
  
    %tr
    
      %td
        %strong= todolist.title
      %td
        = form_with(url: todolist_tasks_path(todolist.id), local: true) do |form|
          = form.text_field :name
          -# = form.check_box :status
          = form.submit "Add Task"
      %td= link_to 'Edit', edit_todolist_path(todolist)
      %td= link_to 'Delete', todolist_path(todolist), method: :delete, data: { confirm: 'Вы уверены?' }        |
    - todolist.tasks.each do |task|
      %tr    
        - if task.status then
          %td 
            %strike= task.name
          %td= check_box_tag 'task_status[]', task.status, true
        - else
          %td= task.name
          %td= check_box_tag 'task_status[]', task.status
        %td= link_to 'Edit', edit_todolist_task_path(todolist_id: todolist.id,  id: task.id)
        %td= link_to 'Delete', [task.todolist, task], method: :delete, data: { confirm: 'Вы уверены?' }             |
        
     
%p
= form_with(model: @todolist, local: true) do |form|
  
  = form.submit "+ Add TODO List", class: 'custom-class'


  -# = form.label :date_end
  -# = form.date_select("Дата", "written  ")
  -# = form.datetime_select("task", "written_on") 

