<center>
%br
%br
%h2
  SIMPLE TODO LISTS
  %br
%h4
  %small.text-muted FROM RUBY GARAGE
%br
.container
  - @todolists.each do |todolist| 
    .row.card-header.align-items-center.pr-0
      .pr-3.text-left.calendar_icon
        %i.fas.fa-calendar-alt
      .col-9.text-left.p-0
        = todolist.title
      .col-2.text-right.ed_del_icon      
        = link_to '', edit_todolist_path(todolist), class: 'ed_del_icon fas fa-pencil-alt'
        = "|"
        = link_to '', todolist_path(todolist), method: :delete, data: { confirm: 'Вы уверены?' }, class: 'ed_del_icon fas fa-trash-alt'
          
    
    .div
      = simple_form_for Task.new, url: todolist_tasks_path(todolist.id) do |f|
        .row.p-1.add_task.align-items-center      
          .col.p-0.plus_icon
            %i.fas.fa-plus
          
          .col-9.p-0  
            = f.input_field :name, class:'form-control', placeholder: "Start typing here to create a task..."           
          .col-2.pl-0 
            = f.submit "Add Task", class: 'btn btn-primary color_button'
        .row.align-items-center.bg-white
          .col.text-center
            = f.input_field :date_end, as: :datetime   
        
    .row.text-center.bg-white.card-body.align-items-center.p-0
      -todolist.tasks.each do |task|
        - if task.status then
          .col-1.border.pb_pt
            = check_box_tag 'task_status[]', task.status, true
          .col-7.border.pb_pt.text-left
            %strike= task.name
          .col-2.border.pb_pt.text-center.p_date
            = task.date_end.to_formatted_s(:short)
        - else
          .col-1.border.pb_pt
            = check_box_tag 'task_status[]', task.status
          .col-7.border.pb_pt.text-left
            = task.name
          .col-2.border.pb_pt.text-center.p_date
            = task.date_end.to_formatted_s(:short)
           
          
        .col-2.border.pb_pt.text-right
          = link_to '', todolist_upsort_path(todolist_id: todolist.id, id: task.id), method: :put, class: 'fas fa-sort-up'
          = link_to '', todolist_downsort_path(todolist_id: todolist.id, id: task.id), method: :put, class: 'pos fas fa-sort-down'
          = "|" 
          = link_to '', edit_todolist_task_path(todolist_id: todolist.id, id: task.id), class: 'fas fa-pencil-alt'
          = "|"
          = link_to '', [task.todolist, task], method: :delete, data: { confirm: 'Вы уверены?' }, class: 'fas fa-trash-alt'
    %p

  = simple_form_for Todolist.new do |f|   
    = f.button :submit, "+ Add TODO List", class: 'btn btn-primary add_project'

  %br
  %p.text-white
    ="@Ruby   Garage"





     
        